{% extends "_page.html" %}

{% set main_active_page = "home" %}

{% block content %}
<div id="content-col-main">
    <h1>Geoscience Australia Linked Data Register</h1>
    <p>Welcome to Geoscience Australia’s linked data register. This is a register of Geoscience Australia’s linked data APIs. This tool is designed for semantic web spatial data.</p>
    <h2>Datasets</h2>
    <p>The following datasets are available through this register:</p>
    <ul>
        <li>Samples</li>
        <li>Gravity Stations</li>
    </ul>
    <p>Other datasets will be added to the list on an ongoing basis.</p>
    <h2>Search &amp; Querying</h2>
    <p>Search within datasets is possible from the search page. Complex searches can be implemented using SPARQL queries in the SPARQL page.</p>
</div>
{% endblock %}