<footer>
    <div id="footer-content">
        <div id="footer-content-top">
            <a href="https://www.ga.gov.au/copyright" class="footer-nav-item">Copyright</a>
            <a href="https://www.ga.gov.au/privacy" class="footer-nav-item">Privacy</a>
            <a href="https://www.ga.gov.au/accessibility" class="footer-nav-item">Accessibility</a>
            <a href="https://www.ga.gov.au/sitemap" class="footer-nav-item">Sitemap</a>
            <a href="https://www.ga.gov.au/ips" class="footer-nav-item">Information Publication Scheme</a>
            <a href="https://www.ga.gov.au/ips/foi" class="footer-nav-item">Freedom of Information</a>
            <a href="https://www.ga.gov.au/contact-us" class="footer-nav-item">Contact Us</a>
        </div>
        <div id="footer-content-bottom">
            We acknowledge the Traditional Owners of the country where we work throughout Australia. We acknowledge Aboriginal and Torres Strait Islander people's continuing connection to land, sea and community. We pay our respects to their elders past and present and emerging. 
        </div>
    </div>
</footer>