<header>
    <div id="header-content">
        <div id="header-content-left">
            <a id="header-logo-link" href="https://www.ga.gov.au/home">
                <img src="{{ url_for('theme', path='img/ga-logo.jpg') }}" alt="GA logo">
            </a>
        </div>
        <div id="header-content-right">
            <div id="slogan">
                Applying geoscience to Australia's most important challenges   
            </div>
            <div id="header-nav">
                <a class="header-nav-link" href="https://www.ga.gov.au/home"><i class="fas fa-home"></i></a>
                <a class="header-nav-link" href="http://vocabs.ga.gov.au/">Vocabulary Registry</a>
                <a class="header-nav-link" href="Applying geoscience to Australia's most important challenges ">Persistent Identity</a>
            </div>
        </div>
    </div>
</header>